
// Body
$body-bg: rgb(237, 244, 246);

// Grid System
$grid-gutter-width:         15px;
$container-large-desktop:      (800px + $grid-gutter-width);

// Link
$link-color: #999;
// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: #fff;
$panel-default-border: #f6f6f6;
$panel-inner-border: #f6f6f6;
$panel-inner-border: $laravel-border-color;
$panel-footer-bg: #fff;
$list-group-border: #f6f6f6;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #333;

// Navbar
$navbar-default-bg: #fff;
$navbar-height: 60px;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
$panel-border-radius: 0;

// Lists
$list-group-hover-bg: #f6f6f6;

// Jumbotron
$jumbotron-bg: #fff;

// Page
$pagination-active-bg: #2ab27b;
$pagination-border: 1px solid #2ab27b;