
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Custom
.meta-list {
  padding-left: 0;
}
.meta-list .meta-item {
  display: inline-block;
}
.meta-list .meta-item:not(:last-child):after {
  content: "\B7";
  margin: 0 .4em;
  color: #b2bac2;
}
.title {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.2;
  color: #2e3135;
}
.info-box {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}
.header-list,.sub-header-list {
  padding-left: 15px;
}
.header-list>li>a {
  color: #767676;
  font-size: 16px;
  font-weight: 500;
}
.sub-header-list>li>a {
  color: #767676;
  font-size: 12px;
  font-weight: 400;
}
.mark-markdown-block {

}
.article-title {
  font-size: 2.2em;
}
.mark-markdown-block h3 {
  font-size: 16px;
  cursor: pointer;
}
.mark-markdown-block img{
  max-width:100%;
}
//.mark-markdown-block pre{
//  border:none;
//  background-color:#fff;
//  padding: 9.5px 0;
//}

.mark-markdown-block h2{
  padding-bottom: 0.3em;
  font-size: 1.8em;
  border-bottom: 1px solid #eee
}
.mark-markdown-block h3{
  font-size: 1.2em;
  border: none;
  padding-bottom: 0.15em;
}
.mark-markdown-block blockquote{
  padding: 5px 7px;
  border: 1px solid #e0e0e0;
  border-left: 4px solid #2ab27b;
}
@media screen and (max-width: 994px){
  .mark-container, .mark-content {
    padding: 0;
  }
}